[run]
parallel = True
source = globus_sdk
# omit must be specified in a way which matches the
# tox environment installations, so lead with `**`
omit =
    **/globus_sdk/_sphinxext.py
    **/globus_sdk/_testing/*
    **/globus_sdk/_generate_init.py

[paths]
# path remapping specifies that any installation of a package in a
# site-packages directory (e.g. in tox) should be treated equivalently to src/
source =
    src/
    */site-packages/

[report]
show_missing = True
skip_covered = True

exclude_lines =
    # the pragma to disable coverage
    pragma: no cover
    # don't complain if tests don't hit unimplemented methods/modes
    raise NotImplementedError
    # don't check on executable components of importable modules
    if __name__ == .__main__.:
    # don't check coverage on type checking conditionals
    if t.TYPE_CHECKING:
    # skip overloads
    @t.overload
