[run]
parallel = True
include = src/*
omit =
    src/globus_sdk/_sphinxext.py
    src/globus_sdk/_testing/*
    src/globus_sdk/__generate_init.py

[report]
show_missing = True
skip_covered = True

exclude_lines =
    # the pragma to disable coverage
    pragma: no cover
    # don't complain if tests don't hit unimplemented methods/modes
    raise NotImplementedError
    # don't check on executable components of importable modules
    if __name__ == .__main__.:
    # don't check coverage on type checking conditionals
    if TYPE_CHECKING:
    # skip overloads
    @overload
