..
.. A new scriv changelog fragment
..
.. Add one or more items to the list below describing the change in clear, concise terms.
..
.. Leave the ":pr:" text alone. When the release changelog is prepared, we will
.. fill this in with links to the PR (if appropriate) or remove it.
..

* REPLACE_ME (:pr:`NUMBER`)
